No way to close websocket connections

There doesn't appear to be a way for websocket clients to close connections cleanly, making socket leaks inevitable for long-running processes that have to reconnect to the websocket server. See https://github.com/logstash-plugins/logstash-input-websocket/issues/20 for an example. Here's the corresponding code: https://github.com/logstash-plugins/logstash-input-websocket/blob/v4.0.4/lib/logstash/inputs/websocket.rb#L27-L41

AFAICT there's currently nothing we can do to prevent the socket leak from that piece of code.

Apart from closing the socket, a WebSocket.close method should first attempt to send a Close frame ([RFC 6455 § 5.5.1](https://tools.ietf.org/html/rfc6455#section-5.5.1)).

I overlooked FTW::Agent.shutdown, so the statement in the issue title and what's said about inevitable socket leaks is incorrect. However, sending a Close frame instead of just closing the socket still seems like a good idea.